<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent house</title>

    <link rel="stylesheet" href="../../public/css/index/index_header.css">
    <link rel="stylesheet" href="../../public/css/index/index_main.css">
    <link rel="stylesheet" href="../../public/css/index/index_footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="navBar">
            <a href="" class="title"><b>Home Genie
                </b></a>
            <ul>
                <li class="navList">
                    <a href="" class="navItem">Home</a>
                    <a href="" class="navItem">Login</a>
                    <a href="" class="navItem">Sign in</a>
                </li>
            </ul>

        </div>

    </header>

    <body>
        <article class="main_container">
            <img src="../../public/img/house.jpg" alt="" class="img_house">
            <div class="text_container">
                <p>Hi, my name is</p>
                <h1 class="main_text">Home Genie.</h1>
                <h1>I will change your way to live!</h1>
            </div>
        </article>

    </body>

</body>

</html>