:root
{
    --main_bg_color: #fefae0;
    --input_color: white;
    --main_color: #00406c; 
    --main_dark_color: #00406c;
    --light_brown: #dda15e;
    --dark_brown: #bc6c25;
}

header{
    width: 100%;
    position: fixed;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navList{
    display: flex;
    list-style: none;
    gap: 15px;
    
}

.navItem{
    text-decoration: none;
    color: var(--input_color);
    font-size: 20px;
}

.title{
    text-decoration: none;
    color: var(--main_color);
    font-size: 25px;
    transition: transform 0.3s ease;
}

.title:hover{
    transform: scale(1.1);
}

