:root
{
    --main_bg_color: #fefae0;
    --input_color: white;
    --main_color: #00406c; 
    --main_dark_color: #00406c;
    --light_brown: #dda15e;
    --dark_brown: #bc6c25;
}


body{
    background-image: url(../../img/Pattern.svg);
}

.main_container{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    
}

.text_container{
    display: flex;

    justify-content: center;
    flex-direction: column;
}

.main_text{
    color: var(--main_color);
}

.img_house{
    width:25%;
    border-radius: 10px;
}

.normal_text{
    font-size: 2rem;
    font-weight: 600;
}

.main_text{
    font-size:4.5rem;
    font-weight: 900;
}

.bold_text{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 25px;
}

.vanessa{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 50px;
    width: 134px;
}

span.tex{
    height: 50px;
}

